<%= form_for(@meta_experiment) do |f| %>
  <% if @meta_experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meta_experiment.errors.count, "error") %> prohibited this meta_experiment from being saved:</h2>

      <ul>
      <% @meta_experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :gene_set_id %><br>
    <%= f.text_field :gene_set_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
