<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @variety.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @variety.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @variety.url %>
</p>

<%= link_to 'Edit', edit_variety_path(@variety) %> |
<%= link_to 'Back', varieties_path %>
