<p id="notice"><%= notice %></p>

<h1>Listing Experiment Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Group size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experiment_groups.each do |experiment_group| %>
      <tr>
        <td><%= experiment_group.name %></td>
        <td><%= experiment_group.description %></td>
        <td><%= experiment_group.experiments.size %></td>
        <td><%= link_to 'Show', experiment_group %></td>
        <td><%= link_to 'Edit', edit_experiment_group_path(experiment_group) %></td>
        <td><%= link_to 'Destroy', experiment_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experiment group', new_experiment_group_path %>
