<p id="notice"><%= notice %></p>

<h1>Listing Studies</h1>

<table>
  <thead>
    <tr>
      <th>Species</th>
      <th>Title</th>
      <th>Manuscript</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <td><%= study.species %></td>
        <td><%= study.title %></td>
        <td><%= study.manuscript %></td>
        <td><%= link_to 'Show', study %></td>
        <td><%= link_to 'Edit', edit_study_path(study) %></td>
        <td><%= link_to 'Destroy', study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Study', new_study_path %>
