<%= form_for(@experiment) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :variety %><br>
    <%= f.select :variety, @varieties.map{ |p| [p.to_s, p.id] } %>
  </div>
  <div class="field">
    <%= f.label :tissue %><br>
    <%= f.select :tissue, @tissues.map{ |p| [p.to_s, p.id] } %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :stress %><br>
    <%= f.text_field :stress %>
  </div>
  <div class="field">
    <%= f.label :accession %><br>
    <%= f.text_field :accession %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
