<p id="notice"><%= notice %></p>

<h1>Listing Experiments</h1>

<table>
  <thead>
    <tr>
      <th>Variety</th>
      <th>Tissue</th>
      <th>Age</th>
      <th>Stress</th>
      <th>Accession</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experiments.each do |experiment| %>
      <tr>
        <td><%= experiment.variety %></td>
        <td><%= experiment.tissue %></td>
        <td><%= experiment.age %></td>
        <td><%= experiment.stress %></td>
        <td><%= experiment.accession %></td>
        <td><%= link_to 'Show', experiment %></td>
        <td><%= link_to 'Edit', edit_experiment_path(experiment) %></td>
        <td><%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experiment', new_experiment_path %>
