<%= form_for(@expression_value) do |f| %>
  <% if @expression_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expression_value.errors.count, "error") %> prohibited this expression_value from being saved:</h2>

      <ul>
      <% @expression_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :experiment_id %><br>
    <%= f.text_field :experiment_id %>
  </div>
  <div class="field">
    <%= f.label :gene_id %><br>
    <%= f.text_field :gene_id %>
  </div>
  <div class="field">
    <%= f.label :meta_experiment_id %><br>
    <%= f.text_field :meta_experiment_id %>
  </div>
  <div class="field">
    <%= f.label :type_of_value_id %><br>
    <%= f.text_field :type_of_value_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
