<%= form_tag "/genes/forward", method: "post" do  %>
  <h2>One or two genes</h2>
  
  Gene set <%= select_tag(:gene_set_selector, options_for_select(reference_gene_sets() , session[:gene_set_id])) %>
  <%= label_tag :gene, "Gene:" %>
  <%= text_field_tag :gene %>
  <%= submit_tag "Search", name: 'submit' %>
  <%= text_field_tag :compare %>
  <%= submit_tag "Compare" , name: 'submit' %>

  <br/><br/>  
  <p><b>Examples: </b><i id="example1"><%= @gene_example_1[0].name %>  </i>| <i id="example2"> <%= @gene_example_1[1].name %></i></p>
  <h2>Multiple genes</h2>
  If you want to compare more than two genes, you can add a list of genes separated by commas or one gene in each line.
  <br><br>
  <%= text_area_tag :genes_heatmap, nil, size: "56x3" %>
  <%= submit_tag "Heatmap" , name: 'submit' %>

  <h2 id="select_studies">Select studies to display <span class="glyphicon glyphicon-chevron-down"></span></h2>

  <button class="select_all study_selector">Select All</button>
  <button class="deselect_all study_selector">Deselect All</button>

  <br><br>
  <% @studies.each do |study| %>
    <% if study.selected %>
      <%= check_box_tag "studies[]", study.accession, checked = true,  id: study.accession %>
    <% else %>
      <%= check_box_tag "studies[]", study.accession, checked = false, id: study.accession %>
    <% end %>    
    <%= label_tag(study.accession, study.title, class: 'study_title', for: study.accession) %>      
    <br/>
  <% end %>
<% end %>