<h1>Wheat Expression browser</h1>

<%= form_tag("/genes/", method: "get") do  %>
	<%= label_tag(:gene, "Gene:") %>
	<%= text_field_tag(:gene) %>
  	<%= submit_tag("Search") %>
  	<br/>
  	<h2>Select studies to dislay:</h2>
  	<% @studies.each do |study| %>
	   <%= check_box_tag("studies[]", study.accession, checked = true) %>
	   <%= label_tag(study.accession, study.title) %>
	   <br/>
	<% end %>
<% end %>