<p id="notice"><%= notice %></p>

<p>

 <strong>Gene:</strong>
 
 <%= @gene.name %>
 <%= link_to "Ensembl", "http://plants.ensembl.org/Multi/Search/Results?q=#{@gene.gene}" %>
<% if @compare %>
 <strong>Compare:</strong>
 <%= @compare.name %>   
 <%= link_to "Ensembl", "http://plants.ensembl.org/Multi/Search/Results?q=#{@compare.gene}" %>
<% end %>

<%= form_tag("share", method: "post") do %>  
  <%= text_area_tag(:factors) %>  
  <%= submit_tag("Share", id:"share") %>
<% end %>


<div id="bar_expression_viewer"> </div>

<script type="text/javascript">
  var container_div="bar_expression_viewer";
  var data_url = "<%= "http://localhost:3000/expression_values/gene/#{@gene.id}.json?#{@args}" %>" ;
  var gene = "<%= @gene.name %>" ;
  console.log(data_url)
  var eb =  new biovisexpressionbar.ExpressionBar({
    target: container_div,
    highlight: gene, 
    data: data_url,
    renderProperty: 'tpm', 
    fontFamily:'Palatino Linotype, Book Antiqua, Palatino, serif', 
    groupBy: ["High level stress-disease", "High level age","High level tissue","High level variety"], 
    barHeight:10,
    width:1000,
    headerOffset:100
  });
  //$("#bar_expression_viewer_sort_div").disableSelection(); //We need to move this to the js componen

  // Populating the textarea with factor settings to be posted 
  var factorSettings = sessionStorage.bar_expression_viewer_selectedFactors;  
  $("textarea#factors").css("display", "none");
  $("textarea#factors").val(factorSettings); 

</script>