<p id="notice"><%= notice %></p>

<p>

<%= form_tag genes_path, method: :get, class: 'navbar-form navbar-left' do %>
 <div class='form-group'>
    Gene: 
    <%= text_field_tag :query, params[:query], id: "gene-search-input", class: 'form-control', value: @gene.name %>
   </div>

    Compare to: 
    <%= text_field_tag :compare, params[:compare], id: "gene-search-compare", class: 'form-control', placeholder: @gene.name, value:  params[:compare]%>
   </div>
   <%= button_tag(type: 'submit', id: 'gene-search-btn', class: 'btn btn-default') do %>
     <i class='fa fa-search fa-fw'></i> Search
   <% end %>   

</div>
<% end %>

</p>

<p>
  <strong>Name:</strong>
  <%= @gene.name %>
</p>

<p>
  <strong>Cdna:</strong>
  <%= @gene.cdna %>
</p>

<p>
  <strong>Possition:</strong>
  <%= @gene.possition %>
</p>

<p>
  <strong>Gene:</strong>
  <%= @gene.gene %>
</p>

<p>
  <strong>Transcript:</strong>
  <%= @gene.transcript %>
</p>



<div id="bar_expression_viewer"> </div>

<%= link_to 'Edit', edit_gene_path(@gene) %> |
<%= link_to 'Back', genes_path %>

<script type="text/javascript">
  var container_div="bar_expression_viewer";
  var data_url = "<%=raw "../../expression_values/gene/#{@gene.id}.json?#{@args}"%>" ;
  var gene = "<%= @gene.name %>" ;
  var eb =  new biovisexpressionbar.ExpressionBar({
    target: container_div,
    highlight: gene, 
    data: data_url,
    renderProperty: 'tpm', 
    fontFamily:'Palatino Linotype", "Book Antiqua", Palatino, serif', 
    barHeight:10,
    width:1000,
    headerOffset:200
  });
</script>