<p id="notice"><%= notice %></p>

 <strong>Gene:</strong> <%= @gene.name %> 
 <%= link_to "Ensembl", "http://plants.ensembl.org/Multi/Search/Results?q=#{@gene.gene}" %>
 
<% if @compare %>
 <strong>Compare:</strong>
 <%= @compare.name %>   
 <%= link_to "Ensembl", "http://plants.ensembl.org/Multi/Search/Results?q=#{@compare.gene}" %>
<% end %>
 
<% if @settings %>  
  <%= javascript_tag do -%>
    sessionStorage.clear();    
    var all_settings = JSON.parse(<%= @settings.to_json.html_safe %>);
    sessionStorage.setItem('bar_expression_viewer_renderProperty', all_settings.bar_expression_viewer_renderProperty);
    delete all_settings.bar_expression_viewer_renderProperty;
    sessionStorage.setItem('bar_expression_viewer_showHomoeologues', all_settings.bar_expression_viewer_showHomoeologues);
    delete all_settings.bar_expression_viewer_showHomoeologues;
    sessionStorage.setItem('bar_expression_viewer_calculateLog', all_settings.bar_expression_viewer_calculateLog);
    delete all_settings.bar_expression_viewer_calculateLog;
    sessionStorage.setItem('bar_expression_viewer_selectedFactors', JSON.stringify(all_settings));
  <% end -%>
<% end %>
 
    
    
 <br>   
  <button id="share" value="settings" name="settings">Share</button>
  <p class="share_message"></p>
 <br>


<div id="share_popup">
    <span>X</span>    
    <input type="text">
    <br>
    <br>
    <p class="share_message">Click on the below button and paste the link for sharing</p>
    <br>
    <button id="copy_link">Copy to Clipboard</button>
</div>

<div id="bar_expression_viewer"> </div>

<script type="text/javascript">
  var container_div="bar_expression_viewer";
  var data_url = "<%= "http://localhost:3000/expression_values/gene/#{@gene.id}.json?#{@args}" %>" ;
  var gene = "<%= @gene.name %>" ;
  console.log(data_url);
  var eb =  new biovisexpressionbar.ExpressionBar({
    target: container_div,
    highlight: gene, 
    data: data_url,
    renderProperty: 'tpm', 
    fontFamily:'Palatino Linotype, Book Antiqua, Palatino, serif', 
    groupBy: ["High level stress-disease", "High level age","High level tissue","High level variety"], 
    barHeight:10,
    width:1000,
    headerOffset:100
  });
  //$("#bar_expression_viewer_sort_div").disableSelection(); //We need to move this to the js componen

  // Populating the textarea with factor settings to be posted 
  // Concatenating the three available sessions to store them as one value

  $(document).ready(function(){                      
    $("#share").click(function() {
      
      // Appending other setting sessions to the main session 
      var selectedFactorsSession = sessionStorage.bar_expression_viewer_selectedFactors;
      var renderPropertySession = sessionStorage.bar_expression_viewer_renderProperty;
      var showHomoeologuesSession = sessionStorage.bar_expression_viewer_showHomoeologues;
      var calculateLogSession = sessionStorage.bar_expression_viewer_calculateLog;
      var selectedFactorsSessionObj = JSON.parse(selectedFactorsSession);
      selectedFactorsSessionObj.bar_expression_viewer_renderProperty = renderPropertySession;
      selectedFactorsSessionObj.bar_expression_viewer_showHomoeologues = showHomoeologuesSession;
      selectedFactorsSessionObj.bar_expression_viewer_calculateLog = calculateLogSession;
      selectedFactorsSession = JSON.stringify(selectedFactorsSessionObj) ;

      // JSON object with all the setting data
      var factorSettings = selectedFactorsSession;             

      // POST request for sending session data to the backend to generate the sharable link
      $.ajax({
        type: "POST",
        url: "share",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));},
        dataType: "json",
        data: {settings: factorSettings},
        success: function(data){                              
          $("#share_popup input").val(data.value);                    
        },
        error: function(){
          alert ("There was an error while processing the data to generate the sharable link");
        }
      });    
      
      // Display the popup with the sharable link
      $("#share_popup").show("slow");
      
      // Copy the link to the clipboard and close the popup
      $("#copy_link").click(function(){
        $("#share_popup input").select();
        document.execCommand("Copy");
        $("#share_popup").hide("slow");
        $(".share_message").html("The link has been copied to your clipboard");
      });

      // Close the popup when clicked on the cross
      $("#share_popup span").click(function (){
        $("#share_popup").hide("fast");
      });

    });

  });

</script>