<p id="notice"><%= notice %></p>

<%= javascript_tag "window_token = '#{form_authenticity_token}'" %>

 <strong>Gene:</strong> <%= @gene.name %> 
 <%= link_to "Ensembl", "http://plants.ensembl.org/Multi/Search/Results?q=#{@gene.gene}" %>
 
<% if @compare %>
 <strong>Compare:</strong>
 <%= @compare.name %>   
 <%= link_to "Ensembl", "http://plants.ensembl.org/Multi/Search/Results?q=#{@compare.gene}" %>
<% end %>

 <!-- Here is the share button form and stuff ************************************** -->
 <br><br><br> 
  <textarea id="factors" name="factors"></textarea>

  <button id="share" value="factors" name="factors">Share</button>
 <br><br><br>
<!-- Here is the share button form and stuff ************************************** -->



<div id="bar_expression_viewer"> </div>

<script type="text/javascript">
  var container_div="bar_expression_viewer";
  var data_url = "<%= "http://localhost:3000/expression_values/gene/#{@gene.id}.json?#{@args}" %>" ;
  var gene = "<%= @gene.name %>" ;
  console.log(data_url);
  var eb =  new biovisexpressionbar.ExpressionBar({
    target: container_div,
    highlight: gene, 
    data: data_url,
    renderProperty: 'tpm', 
    fontFamily:'Palatino Linotype, Book Antiqua, Palatino, serif', 
    groupBy: ["High level stress-disease", "High level age","High level tissue","High level variety"], 
    barHeight:10,
    width:1000,
    headerOffset:100
  });
  //$("#bar_expression_viewer_sort_div").disableSelection(); //We need to move this to the js componen

  // Populating the textarea with factor settings to be posted 
  // Concatenating the three available sessions to store them as one value

  $(document).ready(function(){           
    $("#share").click(function(event) {
      var selectedFactorsSession = sessionStorage.bar_expression_viewer_selectedFactors;
      var renderPropertySession = sessionStorage.bar_expression_viewer_renderProperty;
      var showHomoeologuesSession = sessionStorage.bar_expression_viewer_showHomoeologues;
      var calculateLogSession = sessionStorage.bar_expression_viewer_calculateLog;
      var selectedFactorsSessionObj = JSON.parse(selectedFactorsSession);
      selectedFactorsSessionObj.bar_expression_viewer_renderProperty = renderPropertySession;
      selectedFactorsSessionObj.bar_expression_viewer_showHomoeologues = showHomoeologuesSession;
      selectedFactorsSessionObj.bar_expression_viewer_calculateLog = calculateLogSession;
      selectedFactorsSession = JSON.stringify(selectedFactorsSessionObj) ;

      var factorSettings = selectedFactorsSession;             

      $.ajax({
        type: "POST",
        url: "share" + "?&authenticity_token=" + window_token,
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        dataType: "json",
        data: {factors: factorSettings},
        success: function(data){
          alert ("Maybe?");
        },
        error: function(data){
          alert ("Don't even know");
        }
      })

    });

  });

</script>