<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gene.name %>
</p>

<p>
  <strong>Cdna:</strong>
  <%= @gene.cdna %>
</p>

<p>
  <strong>Possition:</strong>
  <%= @gene.possition %>
</p>

<p>
  <strong>Gene:</strong>
  <%= @gene.gene %>
</p>

<p>
  <strong>Transcript:</strong>
  <%= @gene.transcript %>
</p>



<div id="bar_expression_viewer"> </div>

<%= link_to 'Edit', edit_gene_path(@gene) %> |
<%= link_to 'Back', genes_path %>

<script type="text/javascript">
  console.log("AAAR");
  var container_div="bar_expression_viewer";
  var data_url = "<%= "../../expression_values/gene/#{@gene.id}.json "%>" ;
  var eb =  new biovisexpressionbar.ExpressionBar({
    target: container_div,
    data: data_url
  });
</script>