<!DOCTYPE html>
<html>
<head>
  <title>expVIP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




<div class='wrapper'>
<% flash.each do |key, value| %>

  <div class="alert-<%= key %>">
   <p> <%= value %>  </p>   
  </div>
  
<% end %>
<%= yield %>
</div>


  
<div class='header'>
<%= form_tag "/genes/forward", method: :post, class: 'navbar-form navbar-left' do %>
 
 <div class="left">
  <h1 >
  Wheat Expression Browser   <span style="font-size:50%">powered by expVIP</span>
  </h1>

  <%= link_to "Home", root_path %>
  <%= link_to "Studies", "#", :id => 'studies_button'%>
  <%= link_to "Download", "https://www.dropbox.com/sh/n15tpsqj92wfn8u/AABivEEUj4sRd9tG830WnSi4a?dl=0" %>
  <%= link_to "Add your data", "https://github.com/homonecloco/expvip-web/wiki/LoadingVM"%>
  <%= link_to "Tutorials",  "https://github.com/homonecloco/expvip-web/wiki" %>
  <%= link_to "Videos",  "https://github.com/homonecloco/expvip-web/wiki/List-of-tutorial-videos" %>
 </div>

 <div class='form-group right header-form  '>
    
    <%= text_field_tag :query, params[:query], id: "gene-search-input", class: 'form-control', value: session[:gene], placeholder: "Traes_4AL_F99FCB25F.1" %>
     <%= submit_tag "Search" , name: 'submit'  %>
  
    <%= text_field_tag :compare, params[:query], id: "gene-search-compare", class: 'form-control', placeholder: params[:query], value:  params[:compare]%> 
     <%= submit_tag "Compare", name: 'submit'  %> 

</div>
<% end %>
</div>
<div id="about_studies" >
  <div style="overflow:auto; max-height:400px">
    <%= render :partial => "studies/studiesInfo" %>
  </div>
</div>

</body>
</html>
